#hex-top{
	width: 0;
	border-bottom: 10px solid #72309E;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
}
#hex-mid{
	width: 34px;
	height: 20px;
	background-color: #72309E;
}
#hex-bot{
	width: 0;
	border-top: 10px solid #72309E;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
}
#hexagon{
	float:left;
	margin-top:-1.5vh;
}
#menu-logo{
	font-size:30px;
	color:#72309E;
	margin-left:8px;
	float:left;
	font-family:"Top Modern";
}
#menu{
	width:200px;
	float:left;
}
#navigation{
	position:fixed;
	width:90vw;
	top:3vh;
	margin-left:5vw;
	padding-left:15px
}
#introSlide{
	background-size: 100% 100%;
	background-image: url('../Images/1871.jpg');
}
#logo{
	position:absolute;
	top:50%;
	margin-top:-22vh;
	left:50%;
	margin-left:-20vw;
	background-color:rgba(255,255,255,0.75);
	padding:20px;
	border-radius:25px;
	background: radial-gradient(rgba(255,255,255,1), rgba(255,255,255,0.15));
}
#logoPic{
	width:40vw;
}
#theme{
	font-size:6vh;
	color:#6F2F9F;
	margin-left:5vw;
}
.arrow{
	border-radius:50%;
	width:4vw;
	height:4vw;
	position:absolute;
	top:72vh;
	left:48vw;
}
.textPicture{
	width:40vw;
	height:40vh;
	background-color:white;
	position:relative;
	top:50vh;
	margin-top:-35vh;
	left:50vw;
	margin-left:-20vw;
}
.text{
	height:40vh;
	background-color:white;
	position:relative;
	top:55vh;
}
#list{
	display:none;
	position:fixed;
	margin-top:10.4vh;
	margin-left:5vw;
	text-align:center;
}
#list li{
	font-family:"Top Modern";
	border:1px #6F2F9F solid;
	background-color:#F8F8F8;
}
#list li a{
	position:relative;
	width:145px;
	height:30px;
	padding-left:5px;
	padding-right:5px;
	display:inline-block;
	font-size:24px;
	padding-bottom:40px;
}
#list li a:hover{
	background-color:#6F2F9F;
	color:white;
	text-decoration:none;
	cursor:pointer;
}
#menu-trigger{
	width:11vw;
	height:8vh;
	position:relative;
	z-index:2;
	float:left;
	top:3vh;
	left:5vw;
	cursor:pointer;
}
#aboutTag{
	position:relative;
	top:11vh;
	left:3vw;
}
#text{
	position:relative;
	top:11vh;
	left:3vw;
}
#build{
	height: 29%;
	background-color:rgba(240,32,32,0.7);
}
#measure{
	height: 29%;
	background-color:rgba(13,200,50,0.7);
}
#learn{
	height: 29%;
	background-color:rgba(13,130,200,0.7);
}
.contentPic{
	margin-top:3vh;
	margin-left:10vw;
	float:left;
}
.contentTitle{
	margin-top:5vh;
	position:relative;
	left:1vw;
	font-family:"Top Modern";
}
.board{
	height:60vh;
	margin-left:-1px;
	position:relative;
	top:15vh;
}
.boardPic{
	margin-left:1vw;
}
.come-in {
  transform: translateY(-150px);
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  animation-duration: 2s;
}
.come-in:nth-child(odd) {
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  animation-duration: 2s;
}
.already-visible {
  transform: translateY(0);
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  animation-duration: 2s;
  animation: none;
}
