@font-face{
	font-family:Top Modern;
	src: url("Top_Modern.ttf");
}
/*.background-purple{
	background-image:url('../Images/purple pattern.gif');
}*/
body{
	overflow:scroll;
}
.background-purple{
	background-image:url('../Images/purple pattern.gif');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.background-1871{
	background-image:url('../Images/1871.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.center{
	text-align:center;
}
.subtitle{
	font-family:"Top Modern";
	color:#72309E;
}
#title-img{
	width:400px;
	position:relative;
	left:50%;
	margin-left:-200px;
}
.down-arrow {
	border-color: #72309E transparent;
	border-style: solid;
	border-width: 50px 20px 0px 20px;
	height: 0px;
	width: 0px;
	margin-bottom:15vh;
}
.fixed-height{
	min-height:100px;
}
#hex-top{	
	width: 0;
	border-bottom: 10px solid #72309E;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
}
#hex-mid{
	width: 34px;
	height: 20px;
	background-color: #72309E;
}
#hex-bot{
	width: 0;
	border-top: 10px solid #72309E;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
}
#hexagon{
	float:left;
	margin-top:-1.5vh;
}
#menu-logo{
	font-size:30px;
	color:#72309E;
	margin-left:8px;
	float:left;
	font-family:"Top Modern";
}
#menu{
	width:200px;
	float:left;
}
.picture{
	background-color:black;
	height:40vh;
	position:relative;
	left:50%;
	width:60vh;
	margin-left:-30vh;
}
.pic-space{
	margin-top:17vh;
}
.text{
	margin-top:6vh;
	height:37vh;
	background-color:red;
}